name: Tasks App - Deploy cloud functions to firebase

on:
  push:
    branches:
      - main

jobs:
  deploy-pipeline:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm ci

      - name: Install ts-patch
        run: npx ts-patch install

      - name: Run Linter
        run: npm run lint

      - name: Run Test's
        run: npm run test

      - name: Install CLI Firebase
        run: npm install -g firebase-tools

      - name: Login in Firebase to CI
        run: firebase login:ci --token ${{ secrets.FIREBASE_TOKEN }}

      - name: Deploy to Firebase Cloud Functions
        run: firebase deploy --only functions --token ${{ secrets.FIREBASE_TOKEN }}
